@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@800&display=swap');

span{
    background-color: rgb(243, 213, 82);
    font-family: 'JetBrains Mono', monospace;
    font-size: 4rem;
    padding-left: 1rem;
    padding-right: 0.1rem;
    border-radius: 4px;

}